.recommended-friends {
  padding: 25px 0px;
  margin-bottom: 25px 0px;
  border-bottom: var(--main-border);
  border-top: var(--main-border);
}

.recommended-friends__title {
  font-size: 15px;
  color: var(--gray);
}

.recommended-friends span {
  margin: 110px 0px;
  display: block;
  text-align: center;
  color: var(--gray);
  font-size: 18px;
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  margin-top: 15px;
  margin-bottom: 25px;
}

.open-chat__header span {
  color: var(--gray);
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 8px;
}

.open-post__hashtags {
  text-transform: uppercase;
  color: var(--gray);
}

.open-post__members {
  display: flex;
  align-items: center;
  margin-top: 7px;
}

.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 30%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-right: 5px;
}

.open-post__members__counter {
  color: var(--gray);
  font-size: 15px;
}

.open-post__members .divider {
  width: 1px;
  height: 13px;
  background-color: var(--gray);
  margin: 0px 3px;
}

.open-post__members__status {
  color: #ffb0e0;
}

.open-post__photo {
  position: relative;
}

.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.open-post__heart__counter {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 4px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 9px;
  right: 10px;
  font-size: 15px;
}
.open-post__heart__counter span {
  margin-left: 5px;
}
