#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 10px 0px;
  margin-bottom: 15px;
  margin-top: -10px;
}
#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  padding: 0px var(--horizeontal-space);
}

.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}

.friends-screen__channel {
  border-top: var(--main-border);
  padding-top: 15px;
}
.user-component__title {
  color: black;
}

.splash-screen {
  background-color: var(--yellow);
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: hideSplashScreen 0.5s ease-in-out forwards;
  animation-delay: 0.5s;
  /* forwards = 애니매이션 종류 후 상태 유지; */
}

@keyframes hideSplashScreen {
  form {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -1;
    /* visibility: hidden --> html은 아직 살아있음 ;     */
  }
}
