.user-component__subtitle {
  display: flex;
  font-size: 14px;
}

.more-icon {
  color: tomato;
}

.more-suggestions {
  margin-top: 50px;
  border-top: var(--main-border);
  padding-top: 40px;
}

.more-suggestions__title {
  margin-bottom: 30px;
}

.more-suggestions__icons {
  display: flex;
  justify-content: space-between;
}

.more-suggestions__icon-img {
  height: 55px;
  width: 55px;
  background-color: var(--yellow);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.more-suggestions__icon-text {
  margin-top: 20px;
  font-size: 13px;
}
