.settings__setting {
  padding: 20px 0px;
  display: flex;
  align-items: center;
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.1);
  justify-content: space-between;
}

.settings-list {
  border-bottom: var(--main-border);
  font-size: 18px;
}
.settings__setting i {
  margin-right: 15px;
  opacity: 0.8;
}

.settings__setting-column-description {
  color: var(--gray);
}
