.no-mobile {
  position: absolute;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  font-size: 50px;
}

@media screen and (max-width: 650px) {
  /*미디어 쿼리 넓이가 650px 보다 크면 내용 실행 함*/
  .no-mobile {
    display: none;
  }
}
